/* útfæra */

.navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigation__header {
    font-size: 3em;
    text-decoration: underline;
}

.navigation__items {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.navigation__item {
    margin: 20px;
}

.toggled {
    font-weight: bold;
}