/* útfæra */

.headings__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid;
}

.headings__toggle {
    cursor: pointer;
}

.headings__toggle:active {
    background-color: #D64933;
    border-radius: 20px;
}

.hidden {
    display: none;
}