/* útfæra */

.school > h1 {
    font-size: 2em;
}
.headings__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid;
}

.headings__toggle {
    cursor: pointer;
}

.headings__toggle:active {
    background-color: #D64933;
    border-radius: 20px;
}
